/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "./sass/bootstrap-sprockets";
 @import "./sass/bootstrap";
 @import "./jquery.mCustomScrollbar.min";
 @import "./css/animate";
 @import "./css/icomoon";
 @import "./css/bootstrap";
 @import "./css/magnific-popup";
 @import "./css/owl.carousel.min";
 @import "./css/owl.theme.default.min";
 @import "./css/style";
 @import "./css/flexslider";

//  body {
//     font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'Osaka', 'MS PGothic', arial, helvetica, sans-serif;
//  }
 /* table */
 .container {
     text-align: center;
 }

 ._mCS_1 .mCSB_dragger .mCSB_dragger_bar {
     background-color: navy;
 }
 
 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
     background-color: navy;
 }

 ._mCS_1 .mCSB_dragger:hover .mCSB_dragger_bar {
     background-color: navy;
 }

 thead.teachers, tbody.schedules {
     display: block;
     /* border: 1px solid black; */
 }

 tbody.schedules {
     overflow: hidden;
     height: 400px;
 }

 table.reservation td, th {
     table-layout: fixed;
 }

 table {
     border-collapse: separate;
     border-spacing: 1.5px 0;
     border: 1.5px solid darkgray;
     border-radius: 10px;
     overflow: hidden;
     margin: 0 auto;
 }

 th {
     width: 254px;
 }

 td {
     width: 254px;
 }

 img {
    width: 30%;
    height: auto;
    padding-top: 10px;
 }

 .teachers tr > th:first-child, .schedules tr > th:first-child {
     width: 110px;
 }

 .teachers {
     padding: 5px 0;
     border-bottom: 1.5px solid darkgray;
 }

 .teachers tr th p {
     margin-top: 0;
 }

 /* .schedules {
     margin-top: 15px;
     border-top: 1px solid black;
 } */

 .schedules tr {
     height: 50px;
     vertical-align: middle;
 }

 .schedules tr th {
     border-right: 1.5px solid darkgray;
 }

 .schedules tr:nth-child(even) {
     background-color: #efefef;
 }

 .teachers th:nth-child(2) {
    /* box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset; */
    border-radius: 5px 5px 10px 10px;
    background: #ffefef;
    vertical-align: middle;
    text-align: center;
    /* width: 125px;
    height: 50px; */
    position: relative;
    /* color: #fff; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
    /* font-size: 24px; */
 }

 .teachers th:nth-child(3) {
    /* box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset; */
    border-radius: 5px 5px 10px 10px;
    background: #f5efff;
    vertical-align: middle;
    text-align: center;
    /* width: 125px;
    height: 50px; */
    position: relative;
    /* color: #fff; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
    /* font-size: 24px; */
 }

 .teachers th:nth-child(4) {
    /* box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset; */
    border-radius: 5px 5px 10px 10px;
    background: #eff9ff;
    vertical-align: middle;
    text-align: center;
    /* width: 125px;
    height: 50px; */
    position: relative;
    /* color: #fff; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
    /* font-size: 24px; */
 }

 .teachers th:nth-child(5) {
    /* box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset; */
    border-radius: 5px 5px 10px 10px;
    background: #efffef;
    vertical-align: middle;
    text-align: center;
    /* width: 125px;
    height: 50px; */
    position: relative;
    /* color: #fff; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
    /* font-size: 24px; */
 }

 /* teacher-headerのbase */
 /* .teachers th:nth-child(n+2) {
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
    border-radius: 5px 5px 10px 10px;
    background: #88b7d5;
    vertical-align: middle;
    text-align: center;
    width: 125px;
    height: 50px;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 24px;
 }

 .teachers th:nth-child(n+2):after {
    top: 140px;
    left: 10px;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 118px solid transparent;
    border-top: #88b7d5 15px solid;
 } */

 /* btn */
 .btn-reservation {
    position: relative;
    display: inline-block;
    padding: 0.25em 1em;
    margin: 2px 0;
    text-decoration: none;
    color: #FFF;
    background: #668ad8;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    border: solid 2px #0039b4;/*線色*/
 }
 
 .btn-reservation:hover, .btn-reservation:focus {
    color: #FFF;
 }

 .btn-reservation:active {
    color: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
 }

 .btn-icon {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
 }

 .btn-icon i {
     font-size: 25px;
 }

 .btn-text {
     vertical-align: middle;
 }
